/* NOTE: apollo room reservation section stylesheet */

#room-reservation div.content-wrapper{
    text-align: center;
}

#room-reservation h1{
    color: white;
}

#room-reservation p{
    padding: 0 4.5em;
    color: white;
}

#room-reservation button{
    padding: 1.5em 8em;
    margin-top: 2em;
}
