/* NOTE: call to action section stylesheet */

#call-to-action div.content-wrapper{
    padding: 3em 4.5em;
    text-align: center;
}

#call-to-action button{
    padding: 1.5em 8em;
}

#call-to-action p{
    font-size: 1.2em;
}

#original-logo{
    width: 40%;
    margin: 0 auto;
}
