/* instagram dock section stylesheet */

#instagram{
    /*background: linear-gradient(#fff, #fff, #fff, #dedede);*/
    background-color: #fff;
}

#ig-dock{
    align-items: flex-start;
}

#ig-dock blockquote{
    max-width: 30% ;
}

#instagram p.see-more{
    cursor: pointer;
    text-align: center;
}
