/* instagram dock section stylesheet */

#instagram{
    /*background: linear-gradient(#fff, #fff, #fff, #dedede);*/
    background-color: #fff;
}

#ig-dock{
    align-items: stretch;
}

#ig-dock blockquote{
    max-width: 30% ;
}

#ig-dock iframe{
    margin: 0.5em;
    height: inherit;
}

#instagram p.see-more{
    cursor: pointer;
    text-align: center;
}

#instagram iframe:first-of-type{
    display: block;
    height: 800px !important;
}

#instagram iframe:last-of-type{
    display: none;
}
