/* NOTE: news and updates section stylesheet */

#news-and-updates{
    /*
    border-top: thin solid #ccc;
    border-bottom: thin solid #ccc;
    */
    background-color: #fff;
}

#news-and-updates-title, #news-and-updates-par{
    text-align: center;
}

#news-and-updates-par{
    margin-bottom: 3em;
}

div#nu-dock div.content-wrapper{
    width: 21%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 4em 3em;

    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
}

div#nu-dock div.content-wrapper:hover{
    background-size: 180%;
}

div#nu-dock div.content-wrapper h2,
div#nu-dock div.content-wrapper p{
    color: white;
}

#news-and-updates div.content-wrapper hr{
    border: thin solid white;
}

div#news{
    background-image: url('https://lh3.googleusercontent.com/h5xNdaQM0LVSDjxEoVbZIyrdkoJp_VgnFL11fhbuhZ1SK3KBWwCiW-Eo-XlcPJAEZmgN_7AqvCdPzysRrv4hxxPC4RKiWWPUevb-6ZcYhcJLooeFkJ1r3df76ICm9tOyOhTAnEdDrvOC2SQT1CjzYMVzHpkD5qUL1bLFbk76XQhgQEf1e_z76toVLEyjNPIYwF7c-HFkVBQy5_6i3OGApSVpI1r9BfOkdgS7RF3qLS8F6CvEv9LztpIu0Lr487rPjOBf815REUWGRGOAgNQ55z3d9LeOlcG9E3d1Aw4NMRApCrVPe_b3gU3Ioizal694OK4jGBdoxfJRXjiNX9pHlXJdYIAMC8pILMc9vjunu2vDzArX9QE3Yh_KXZP0x1udUUiwXNm0TS-ZHR2XnEfU-5MXUAsvmQG2qjLbafZoZYI7JaQKvovN3Ox8He19HkG7HABjVkjx20ZY9XLZ_RpQqLUK5w86JlkWRbf1ByRSvw91CzVOlE4U0031mnnaMF5MnB0LvopCTyPBJqgpfxXD9q4mm2AMpziHVYwUFiZAqVxoDij2FYHxMCyroqZKt0Mj1d--rVPKdnl63e0hxLmq6BqDe8DnMoCa8_N4gW4=w694-h362-no');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

div#gallery{
    background-image: url('https://lh3.googleusercontent.com/2nfFwqjsnfRyjZ2Sc3e3kf-_kvdewWO_K9AjKJBV6yQSjYhTNwEhrnXL-clsF13HBCQ6-erYk1LKA5-QPMsAq9tZGwYrvVVLUMc-BzzfN_IKETj7WGx_tyHdr2bPNRVVsPpi03UyySertmVwIIMBWW964RUZTaQAEE3PBYYaN46oW3o8q18xbTPWcRsSvmQ4qNrP6cD1x7uVJ7tz8PIv0rsyEe8OVwVam-wVaKHWwVHyng8oC_PkR-HpD2dAdS0VvcjC9KhsnhiwZDcrYb8dESn0CiWuKzWvB1IlUGJ8o3tkzaGt0_u8m1yrltGZMPiuxTvHkafY8nezuzMW4vE_3d1LKK93rAArR87pyL72UvrKMM2HwABzUQK5vWFl51rvSVwxZSmu_jNtw89YjdAcVqEpyAmtjzJsPueVCFX7skbmM5g1EcxvwzCOd-2eaDwR8ufIK6fv30SO842DR-I41-Rf6OzCVKRv9-F7D_qBX2aF5lL8fBqxNUg-D34qYG_EqSrM5LnePfKmFVzvBeN9BEl6TjPLUSs1Calb8qoai4ZjTJa4qE1OD6Lq1c2dOJJlFXj888QbWI3jZqzn8cDyC8BBHnbzMAH6Pc4sqo0=w766-h400-no');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

div#videos{
    background-image: url('https://lh3.googleusercontent.com/qjahDlbqj18qTLlU78Z0I-ini-2yyOADDRlEdre73m4bB_TuzRUHlv72nyfHx4webThVt0e9iL3aV_dDyfPzKyb8_vD5-7aUpDOhtyRRfc2J50LdL0q0gL0xxxG76Ph0V968WWMosu4er492Zhie7L1eEk_H-xxbx6xa1j2K_bnHPNo5LJpf9N961WLhEohUZ3CAV32NGat3e6uGNPw6i5PHGayZirq2IfomJHCQQBEuarssoSRyjf8g-fJB8q_oZvbOFb5SDvmpz3LCkM9JneysNy6meE5HApusoA-cQ8_Q6P3fXv7d95h2b7MPd3RzRA-lk11H9WeMy-Qv_CLvyxVni4aOAoahaBeHC7JAZr8l_frYmKde1Umjup3u-S67Gi5M-lnyo0TRwP5QZO6EMW3KIKrJMXiANvBenc74PyYgTA5GIm3_Zjlb_Xq9KHmdMABNKYu8h76OOn3nHPI33NjVYB_H8cN0PvLPX0qrag-YlkKpGkl6ekEy62hkD7_2vvjNPduHHtAQbV74DUfKcvipMjynXLuSaJbLnbUyX36RHym755j3bn5eL6l5YU4Cn54GOeqX-h9cHAjY-XZrhyUIyihXUoapvghU4pU=w766-h400-no');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}
