/*
    responsive stylesheet of the site

    NOTE: Although the sizes may be the same, this allows us to set different column sizes for varying device widths.
*/

/* Set container widths for different screen sizes*/

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Row */

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

/* Columns for extra small devices (smartphones) */

.col-xs-12 {
    grid-column: span 12;
}
.col-xs-11 {
    grid-column: span 11;
}
.col-xs-10 {
    grid-column: span 10;
}
.col-xs-9 {
    grid-column: span 9;
}
.col-xs-8 {
    grid-column: span 8;
}
.col-xs-7 {
    grid-column: span 7;
}
.col-xs-6 {
    grid-column: span 6;
}
.col-xs-5 {
    grid-column: span 5;
}
.col-xs-4 {
    grid-column: span 4;
}
.col-xs-3 {
    grid-column: span 3;
}
.col-xs-2 {
    grid-column: span 2;
}
.col-xs-1 {
    grid-column: span 1;
}
.col-xs-left-12 {
    grid-column-start: 1;
    grid-column-end: span 12;
    grid-row: 1;
}
.col-xs-left-11 {
    grid-column-start: 1;
    grid-column-end: span 11;
    grid-row: 1;
}
.col-xs-left-10 {
    grid-column-start: 1;
    grid-column-end: span 10;
    grid-row: 1;
}
.col-xs-left-9 {
    grid-column-start: 1;
    grid-column-end: span 9;
    grid-row: 1;
}
.col-xs-left-8 {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row: 1;
}
.col-xs-left-7 {
    grid-column-start: 1;
    grid-column-end: span 7;
    grid-row: 1;
}
.col-xs-left-6 {
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row: 1;
}
.col-xs-left-5 {
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row: 1;
}
.col-xs-left-4 {
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row: 1;
}
.col-xs-left-3 {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row: 1;
}
.col-xs-left-2 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 1;
}
.col-xs-left-1 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row: 1;
}
.col-xs-right-12 {
    grid-column-start: 1;
    grid-column-end: span 12;
    grid-row: 1;
}
.col-xs-right-11 {
    grid-column-start: 2;
    grid-column-end: span 11;
    grid-row: 1;
}
.col-xs-right-10 {
    grid-column-start: 3;
    grid-column-end: span 10;
    grid-row: 1;
}
.col-xs-right-9 {
    grid-column-start: 4;
    grid-column-end: span 9;
    grid-row: 1;
}
.col-xs-right-8 {
    grid-column-start: 5;
    grid-column-end: span 8;
    grid-row: 1;
}
.col-xs-right-7 {
    grid-column-start: 6;
    grid-column-end: span 7;
    grid-row: 1;
}
.col-xs-right-6 {
    grid-column-start: 7;
    grid-column-end: span 6;
    grid-row: 1;
}
.col-xs-right-5 {
    grid-column-start: 8;
    grid-column-end: span 5;
    grid-row: 1;
}
.col-xs-right-4 {
    grid-column-start: 9;
    grid-column-end: span 4;
    grid-row: 1;
}
.col-xs-right-3 {
    grid-column-start: 10;
    grid-column-end: span 3;
    grid-row: 1;
}
.col-xs-right-2 {
    grid-column-start: 11;
    grid-column-end: span 2;
    grid-row: 1;
}
.col-xs-right-1 {
    grid-column-start: 12;
    grid-column-end: span 1;
    grid-row: 1;
}

/* Columns for small devices (tablets) */

@media (min-width: 768px) {
    .col-sm-12 {
        grid-column: span 12;
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-10 {
        grid-column: span 10;
    }
    .col-sm-9 {
        grid-column: span 9;
    }
    .col-sm-8 {
        grid-column: span 8;
    }
    .col-sm-7 {
        grid-column: span 7;
    }
    .col-sm-6 {
        grid-column: span 6;
    }
    .col-sm-5 {
        grid-column: span 5;
    }
    .col-sm-4 {
        grid-column: span 4;
    }
    .col-sm-3 {
        grid-column: span 3;
    }
    .col-sm-2 {
        grid-column: span 2;
    }
    .col-sm-1 {
        grid-column: span 1;
    }
    .col-sm-left-12 {
        grid-column-start: 1;
        grid-column-end: span 12;
        grid-row: 1;
    }
    .col-sm-left-11 {
        grid-column-start: 1;
        grid-column-end: span 11;
        grid-row: 1;
    }
    .col-sm-left-10 {
        grid-column-start: 1;
        grid-column-end: span 10;
        grid-row: 1;
    }
    .col-sm-left-9 {
        grid-column-start: 1;
        grid-column-end: span 9;
        grid-row: 1;
    }
    .col-sm-left-8 {
        grid-column-start: 1;
        grid-column-end: span 8;
        grid-row: 1;
    }
    .col-sm-left-7 {
        grid-column-start: 1;
        grid-column-end: span 7;
        grid-row: 1;
    }
    .col-sm-left-6 {
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row: 1;
    }
    .col-sm-left-5 {
        grid-column-start: 1;
        grid-column-end: span 5;
        grid-row: 1;
    }
    .col-sm-left-4 {
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row: 1;
    }
    .col-sm-left-3 {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row: 1;
    }
    .col-sm-left-2 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 1;
    }
    .col-sm-left-1 {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row: 1;
    }
    .col-sm-right-12 {
        grid-column-start: 1;
        grid-column-end: span 12;
        grid-row: 1;
    }
    .col-sm-right-11 {
        grid-column-start: 2;
        grid-column-end: span 11;
        grid-row: 1;
    }
    .col-sm-right-10 {
        grid-column-start: 3;
        grid-column-end: span 10;
        grid-row: 1;
    }
    .col-sm-right-9 {
        grid-column-start: 4;
        grid-column-end: span 9;
        grid-row: 1;
    }
    .col-sm-right-8 {
        grid-column-start: 5;
        grid-column-end: span 8;
        grid-row: 1;
    }
    .col-sm-right-7 {
        grid-column-start: 6;
        grid-column-end: span 7;
        grid-row: 1;
    }
    .col-sm-right-6 {
        grid-column-start: 7;
        grid-column-end: span 6;
        grid-row: 1;
    }
    .col-sm-right-5 {
        grid-column-start: 8;
        grid-column-end: span 5;
        grid-row: 1;
    }
    .col-sm-right-4 {
        grid-column-start: 9;
        grid-column-end: span 4;
        grid-row: 1;
    }
    .col-sm-right-3 {
        grid-column-start: 10;
        grid-column-end: span 3;
        grid-row: 1;
    }
    .col-sm-right-2 {
        grid-column-start: 11;
        grid-column-end: span 2;
        grid-row: 1;
    }
    .col-sm-right-1 {
        grid-column-start: 12;
        grid-column-end: span 1;
        grid-row: 1;
    }
}

/* Columns for medium devices (desktops) */

@media (min-width: 992px) {
    .col-md-12 {
        grid-column: span 12;
    }
    .col-md-11 {
        grid-column: span 11;
    }
    .col-md-10 {
        grid-column: span 10;
    }
    .col-md-9 {
        grid-column: span 9;
    }
    .col-md-8 {
        grid-column: span 8;
    }
    .col-md-7 {
        grid-column: span 7;
    }
    .col-md-6 {
        grid-column: span 6;
    }
    .col-md-5 {
        grid-column: span 5;
    }
    .col-md-4 {
        grid-column: span 4;
    }
    .col-md-3 {
        grid-column: span 3;
    }
    .col-md-2 {
        grid-column: span 2;
    }
    .col-md-1 {
        grid-column: span 1;
    }
    .col-md-left-12 {
        grid-column-start: 1;
        grid-column-end: span 12;
        grid-row: 1;
    }
    .col-md-left-11 {
        grid-column-start: 1;
        grid-column-end: span 11;
        grid-row: 1;
    }
    .col-md-left-10 {
        grid-column-start: 1;
        grid-column-end: span 10;
        grid-row: 1;
    }
    .col-md-left-9 {
        grid-column-start: 1;
        grid-column-end: span 9;
        grid-row: 1;
    }
    .col-md-left-8 {
        grid-column-start: 1;
        grid-column-end: span 8;
        grid-row: 1;
    }
    .col-md-left-7 {
        grid-column-start: 1;
        grid-column-end: span 7;
        grid-row: 1;
    }
    .col-md-left-6 {
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row: 1;
    }
    .col-md-left-5 {
        grid-column-start: 1;
        grid-column-end: span 5;
        grid-row: 1;
    }
    .col-md-left-4 {
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row: 1;
    }
    .col-md-left-3 {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row: 1;
    }
    .col-md-left-2 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 1;
    }
    .col-md-left-1 {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row: 1;
    }
    .col-md-right-12 {
        grid-column-start: 1;
        grid-column-end: span 12;
        grid-row: 1;
    }
    .col-md-right-11 {
        grid-column-start: 2;
        grid-column-end: span 11;
        grid-row: 1;
    }
    .col-md-right-10 {
        grid-column-start: 3;
        grid-column-end: span 10;
        grid-row: 1;
    }
    .col-md-right-9 {
        grid-column-start: 4;
        grid-column-end: span 9;
        grid-row: 1;
    }
    .col-md-right-8 {
        grid-column-start: 5;
        grid-column-end: span 8;
        grid-row: 1;
    }
    .col-md-right-7 {
        grid-column-start: 6;
        grid-column-end: span 7;
        grid-row: 1;
    }
    .col-md-right-6 {
        grid-column-start: 7;
        grid-column-end: span 6;
        grid-row: 1;
    }
    .col-md-right-5 {
        grid-column-start: 8;
        grid-column-end: span 5;
        grid-row: 1;
    }
    .col-md-right-4 {
        grid-column-start: 9;
        grid-column-end: span 4;
        grid-row: 1;
    }
    .col-md-right-3 {
        grid-column-start: 10;
        grid-column-end: span 3;
        grid-row: 1;
    }
    .col-md-right-2 {
        grid-column-start: 11;
        grid-column-end: span 2;
        grid-row: 1;
    }
    .col-md-right-1 {
        grid-column-start: 12;
        grid-column-end: span 1;
        grid-row: 1;
    }
}

/* Columns for large devices (large desktops) */

@media (min-width: 1200px) {
    .col-lg-12 {
        grid-column: span 12;
    }
    .col-lg-11 {
        grid-column: span 11;
    }
    .col-lg-10 {
        grid-column: span 10;
    }
    .col-lg-9 {
        grid-column: span 9;
    }
    .col-lg-8 {
        grid-column: span 8;
    }
    .col-lg-7 {
        grid-column: span 7;
    }
    .col-lg-6 {
        grid-column: span 6;
    }
    .col-lg-5 {
        grid-column: span 5;
    }
    .col-lg-4 {
        grid-column: span 4;
    }
    .col-lg-3 {
        grid-column: span 3;
    }
    .col-lg-2 {
        grid-column: span 2;
    }
    .col-lg-1 {
        grid-column: span 1;
    }
    .col-lg-left-12 {
        grid-column-start: 1;
        grid-column-end: span 12;
        grid-row: 1;
    }
    .col-lg-left-11 {
        grid-column-start: 1;
        grid-column-end: span 11;
        grid-row: 1;
    }
    .col-lg-left-10 {
        grid-column-start: 1;
        grid-column-end: span 10;
        grid-row: 1;
    }
    .col-lg-left-9 {
        grid-column-start: 1;
        grid-column-end: span 9;
        grid-row: 1;
    }
    .col-lg-left-8 {
        grid-column-start: 1;
        grid-column-end: span 8;
        grid-row: 1;
    }
    .col-lg-left-7 {
        grid-column-start: 1;
        grid-column-end: span 7;
        grid-row: 1;
    }
    .col-lg-left-6 {
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row: 1;
    }
    .col-lg-left-5 {
        grid-column-start: 1;
        grid-column-end: span 5;
        grid-row: 1;
    }
    .col-lg-left-4 {
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row: 1;
    }
    .col-lg-left-3 {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row: 1;
    }
    .col-lg-left-2 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 1;
    }
    .col-lg-left-1 {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row: 1;
    }
    .col-lg-right-12 {
        grid-column-start: 1;
        grid-column-end: span 12;
        grid-row: 1;
    }
    .col-lg-right-11 {
        grid-column-start: 2;
        grid-column-end: span 11;
        grid-row: 1;
    }
    .col-lg-right-10 {
        grid-column-start: 3;
        grid-column-end: span 10;
        grid-row: 1;
    }
    .col-lg-right-9 {
        grid-column-start: 4;
        grid-column-end: span 9;
        grid-row: 1;
    }
    .col-lg-right-8 {
        grid-column-start: 5;
        grid-column-end: span 8;
        grid-row: 1;
    }
    .col-lg-right-7 {
        grid-column-start: 6;
        grid-column-end: span 7;
        grid-row: 1;
    }
    .col-lg-right-6 {
        grid-column-start: 7;
        grid-column-end: span 6;
        grid-row: 1;
    }
    .col-lg-right-5 {
        grid-column-start: 8;
        grid-column-end: span 5;
        grid-row: 1;
    }
    .col-lg-right-4 {
        grid-column-start: 9;
        grid-column-end: span 4;
        grid-row: 1;
    }
    .col-lg-right-3 {
        grid-column-start: 10;
        grid-column-end: span 3;
        grid-row: 1;
    }
    .col-lg-right-2 {
        grid-column-start: 11;
        grid-column-end: span 2;
        grid-row: 1;
    }
    .col-lg-right-1 {
        grid-column-start: 12;
        grid-column-end: span 1;
        grid-row: 1;
    }
}
