/* NOTE: repsosive web design framework */

@media (max-width: 1043px) {

    /* about section */
    #about div.flex-between{
        flex-direction: column;
        text-align: center;
    }

    #about div.flex-between:nth-child(even){
        flex-direction: column-reverse;
    }

    #about img{
        width: 70% !important;
        margin-bottom: 2em;
    }
}

@media (max-width: 837px) {
    section{
        padding-left: 5%;
        padding-right: 5%;
    }

    #about div.content-wrapper{
        margin: 0 !important;
    }

    #history-tagline{
        font-size: 0.9em;
    }

    #history div.ball{
        width: 0.5em;
        height: 0.5em;
    }

    #history div.ball p{
        display: none;
    }

    #call-to-action div.content-wrapper{
        padding: 0 !important;
    }

    #room-reservation div.content-wrapper p{
        padding: 0 !important;
    }

    footer > div{
        flex-direction: column;
        align-items: center;
    }

    footer > div > div{
        max-width: 100% !important;
        text-align: center;
        margin: 3em 0;
    }

    footer #faqs h5{
        padding: 1em;
    }

    footer #faqs ol{
        text-align: left !important;
    }
}
