/*
    stylesheet framework for select tags
*/

select{
    /*
    width: 10em;
    padding: 1em;
    background-color: transparent;
    border: thin solid white;
    border-radius: 3px;
    */

    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 0;
    padding-left: 10px;
    width: 100px;
    padding-right: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    background-color: transparent;
    border-radius: 0;
    border: none;
    /*border:  thin solid var(--theme-purple);*/
    outline: none;
    font-weight: normal;
    color: white;
    cursor: pointer;

    background-image: url("../../assets/svg/angle-arrow-down-white.svg");
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15%);
}

select.white{
    background-image: url("../assets/svg/angle-arrow-down-white.svg");
    border:  thin solid white;
    color: white;
}
