/* wrapper stylesheet */

/* NOTE: WHAT TO USE?
 *
 * <section>...</section>
 * <section class="theme-highlighted">...</section>
 * <section class="light-highlighted">...</section>
 * <section class="dark-highlighted">...</section>
 *
 */

:root{
    --theme-wrapper-main-bg: #1EBA9F;
    --theme-wrapper-dark-bg: #637484;
    --theme-wrapper-light-bg: #D0D7DC;
}

header, section{
    padding: 5em 15%;
}

header{
    background-color: white;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/* footer element stylesheet */
footer{
    padding: 5em 15%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: thin solid #ccc;
    border-bottom: thin solid #ccc;
    background-color: #f4f4f4;
}

footer > div{
    max-width: 33%;
    text-align: left;
}

footer > div h3{
    margin-bottom: 1em;
    cursor: pointer;
}

footer > div h5{
    padding: 0.5em 1em;
    border: 0.15em solid #333;
    color: #333;
}

footer #faqs > div{
    padding: 0.5em 0;
}

footer p{
    font-size: 0.8em;
}

/* NOTE: temporary */
footer #faqs p, footer #faqs ol{
    display: none;
}

/* section with white background by default */
section{
    background-color: white;
    box-sizing: border-box;
}

section.theme-highlighted{
    background-color: var(--theme-wrapper-main-bg);
}

section.light-highlighted{
    background-color: var(--theme-wrapper-light-bg);
}

section.dark-highlighted{
    background-color: var(--theme-wrapper-dark-bg);
}

/* gradient background collection */
.purple-blue-gradient{
    background: linear-gradient(45deg, #00abd4, #1595c7, #3a6fb1, #5751a0, #6b3b94, #782e8c, #7c2a8a);
    background-attachment: fixed;
}

.blue-green-gradient{
    background: linear-gradient(#009cb5, #009cb5, #00a551);
}
