/* wrapper stylesheet */

/* NOTE: WHAT TO USE?
 *
 * <section>...</section>
 * <section class="theme-highlighted">...</section>
 * <section class="light-highlighted">...</section>
 * <section class="dark-highlighted">...</section>
 *
 */

:root{
    --theme-wrapper-main-bg: #1EBA9F;
    --theme-wrapper-dark-bg: #637484;
    --theme-wrapper-light-bg: #D0D7DC;
}

header, section{
    padding: 5em 15%;
}

header{
    background-color: white;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

footer{
    padding: 60px 30%;
    padding-bottom: 0px;
    background-color: #c0c0c0;
    box-sizing: border-box;
}

/* section with white background by default */
section{
    background-color: white;
    box-sizing: border-box;
}

section.theme-highlighted{
    background-color: var(--theme-wrapper-main-bg);
}

section.light-highlighted{
    background-color: var(--theme-wrapper-light-bg);
}

section.dark-highlighted{
    background-color: var(--theme-wrapper-dark-bg);
}

/* gradient background collection */
.purple-blue-gradient{
    background: linear-gradient(45deg, #00abd4, #1595c7, #3a6fb1, #5751a0, #6b3b94, #782e8c, #7c2a8a);
    background-attachment: fixed;
}

.blue-green-gradient{
    background: linear-gradient(#009cb5, #009cb5, #00a551);
}
