/* landing all page stylesheet */

body, html{
    color: white;
    box-sizing: border-box;
}

h1#news-title, h1#video-title, h1#gallery-title{
    color: white;
    margin-bottom: 0;
    text-align: left;
}

hr{
    margin-bottom: 2em;
}

nav{
    position: relative;
    top: 0;
    z-index: 10;
    left: 0;
}

section{
    background-color: transparent;
    position: relative;
    z-index: 10;
}

#alternative-bg{
    top: -52em;
    left: -50em;
    z-index: 0;
    width: 100%;
    position: fixed;
}

#landing-wrapper > div.flex-between{
    align-items: flex-start;
}

#news-wrapper, #video-wrapper, #gallery-wrapper{
    margin: 3em 0;
}

#news-wrapper, #video-wrapper{
    max-width: 49%;
    width: 100%;
}

#news-wrapper .thumbnail{
    background: url('../../assets/png/news-featured.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#video-wrapper .thumbnail{
    background: url('../../assets/png/video-featured.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#news-wrapper .item-wrapper, #video-wrapper .item-wrapper{
    display: block;
    margin-bottom: 2em;
}

#news-wrapper .thumbnail-title, #video-wrapper .thumbnail-title{
    margin-top: 0.5em;
    color: white;
}

#gallery-wrapper .thumbnail{
    background-color: #333;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 0;
    max-width: 19%;
    width: 100%;

    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
}

#gallery-wrapper .thumbnail:nth-child(1){
    background: url('../../assets/png/day1.jpg');
    background-position: bottom;

    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
}

#gallery-wrapper .thumbnail:nth-child(2){
    background: url('../../assets/png/day2.jpg');
    background-position: bottom;

    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
}

#gallery-wrapper .thumbnail:nth-child(3){
    background: url('../../assets/png/day3.jpg');
    background-position: bottom;

    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
}

#gallery-wrapper .thumbnail:nth-child(4){
    background: url('../../assets/png/day4.jpg');
    background-position: bottom;

    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
}

#gallery-wrapper .thumbnail:nth-child(5){
    background: url('../../assets/png/day5.jpg');
    background-position: bottom;

    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
}

#gallery-wrapper .thumbnail p{
    text-align: center;
    font-size: 1.3em;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 11px #000;
}

.thumbnail{
    padding: 10em 0;
    background-color: white;
    border-radius: 0.3em;
    cursor: pointer;

    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
}

#video-wrapper .thumbnail:hover, #news-wrapper .thumbnail:hover,
#gallery-wrapper .thumbnail:hover{
    box-shadow: 0px 0px 21px #999;
}

@media (max-width: 1043px){
    nav{
        position: fixed;
        top: 0;
        z-index: 999 !important;
        left: 0;
    }

    #alternative-bg{
        top: 0 !important;
        left: 0 !important;
        z-index: 0;
        width: 100% !important;
        position: fixed !important;
    }

    section{
        padding: 5em 0;
        width: 100%;
    }

    section#landing-wrapper div.flex-between{
        flex-direction: column;
    }

    #news-wrapper, #video-wrapper{
        max-width: 100% !important;
    }

    #news-wrapper .thumbnail{
        background-size: 200%;
    }

    #video-wrapper .thumbnail{
        background-size: 200%;
    }

    #gallery-wrapper .thumbnail{
        background-size: cover !important;
        padding: 3em 0;
        margin-bottom: 2em;
        max-width: 100%;
        width: 100%;
    }

    #gallery-wrapper .thumbnail p{
        font-size: 2.3em;
    }
}
